

header{
    width: 100%;
    padding:0;
    margin-right: 0;
    margin-left:0;
   


    nav{

        padding-top:1rem;

        font-weight: bold;
        color:black;

        ul{
            color:black;


            li{
                color:black;
                text-decoration:none;
            }
        }


    }

    .caption-large{
        display:none;
    }
}


.utility-bar--bottom-border{
    background-color: black;

    span{
        color:white;
    }
    


}


