

header{
    width: 100%;
    padding:0;
    margin-right: 0;
    margin-left:0;
   


    nav{

        padding-top:1rem;

        font-weight: bold;
        color:black;

        ul{
            color:black;


            li{
                color:black;
                text-decoration:none;
            }
        }


    }

    .caption-large{
        display:none;
    }
}


.utility-bar--bottom-border{
    background-color: black;

    span{
        color:white;
    }
    


}


@media screen and (max-width: 990px) {

header{
    display:flex !important;

    .header__heading{
        margin-right: 450px;
   
    }

    .icon-cart{
        padding-right:10px;
    }

}

  }