.collection-hero__title{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.utility-bar{
    background-color: black;

    p{
        color: white;
        font-weight: bold;
    }
}